@import '../../node_modules/coriolan-ui/tools/variables';
@import '../../node_modules/coriolan-ui/mixins/media';

.socnav {
    display: flex;

    &__link {
        position: relative;
        height: 50px;
        padding: 0 8px;
        color: #255161;
        text-decoration: none;
        display: flex;
        align-items: center;
        opacity: .6;
        transition: opacity .25s ease;

        &:hover {
            opacity: 1;
        }

        &-icon {
            width: auto;
            height: 20px;
        }

        &-name {
            font-size: 10px;
            margin-left: 1em;
            display: none;

            @include media(M) {
                display: inline-block;
            }
        }
    }
}
